@page "/add"
@inject HttpClient httpClient
@inject NavigationManager NavManager

<h1>Add Speaker</h1>
<hr />

<p>You are currently creating a new speaker.</p>

@if (speakers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@GoBack" class="btn btn-info">Back</button>
    <EditForm Model="@speaker" OnValidSubmit="@HandleAdd">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="firstName">First Name:</label>
        <br />
        <InputText placeholder="First Name" id="firstName" @bind-Value="@speaker.FirstName" />
        <br />
        <label for="lastName">Last Name:</label>
        <br />
        <InputText placeholder="Last Name" id="lastName" @bind-Value="@speaker.LastName" />
        <br />
        <label for="email">Email:</label>
        <br />
        <InputText placeholder="Email" id="email" @bind-Value="@speaker.Email" />
        <br />
        <label for="mobileNumber">Mobile Number:</label>
        <br />
        <InputText placeholder="Mobile Number" id="mobileNumber" @bind-Value="@speaker.MobileNumber" />
        <br />
        <label for="specialization">Specialization:</label>
        <br />
        <InputText placeholder="Specialization" id="specialization" @bind-Value="@speaker.Specialization" />
        <br />
        <label for="city">City of Residence:</label>
        <br />
        <InputText placeholder="City of Residence" id="city" @bind-Value="@speaker.City" />
        <br />
        <label for="province">Province of Residence:</label>
        <br />
        <InputText placeholder="Province of Residence" id="province" @bind-Value="@speaker.Province" />
        <br />
        <label for="employer">Employer:</label>
        <br />
        <InputText placeholder="Employer" id="employer" @bind-Value="@speaker.Employer" />
        <br />
        <button class="btn btn-success" type="submit">Submit</button>
    </EditForm>

    @code {
    private Speaker speaker = new Speaker();

    private async void HandleAdd()
    {
        string endpoint = $"{baseUrl}api/Speakers";

        speaker.ID = Guid.NewGuid().ToString();

        await httpClient.PostAsJsonAsync(endpoint, speaker);
        StateHasChanged();
        GoBack();
    }
}
}

@code {
    Speaker[] speakers;
    string baseUrl = "http://localhost:3000/";

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        speakers = await httpClient.GetFromJsonAsync<Speaker[]>($"{baseUrl}api/Speakers");
    }

    protected void GoBack()
    {
        NavManager.NavigateTo("/");
    }
}