@page "/delete/{speakerId}"
@inject HttpClient httpClient
@inject NavigationManager NavManager

<h1>Delete Speaker</h1>

<p>This component demonstrates deleting a speaker with id @speakerId.</p>

@if (currentSpeaker == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="@GoBack" class="btn btn-success">Back</button>
    <EditForm Model="@currentSpeaker" OnValidSubmit="@HandleDelete">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText disabled placeholder="First Name" id="firstName" @bind-Value="@currentSpeaker.FirstName" />
        <br />
        <InputText disabled placeholder="Last Name" id="lastName" @bind-Value="@currentSpeaker.LastName" />
        <br />
        <InputText disabled placeholder="Email" id="email" @bind-Value="@currentSpeaker.Email" />
        <br />
        <InputText disabled placeholder="Mobile Number" id="mobileNumber" @bind-Value="@currentSpeaker.MobileNumber" />
        <br />
        <InputText disabled placeholder="Specialization" id="specialization" @bind-Value="@currentSpeaker.Specialization" />
        <br />
        <InputText disabled placeholder="City of Residence" id="city" @bind-Value="@currentSpeaker.City" />
        <br />
        <InputText disabled placeholder="Province of Residence" id="province" @bind-Value="@currentSpeaker.Province" />
        <br />
        <InputText disabled placeholder="Employer" id="employer" @bind-Value="@currentSpeaker.Employer" />
        <br />
        <button type="submit" value="Delete" class="btn btn-danger">Submit</button>

        @code {
        private Speaker speaker = new Speaker();

        protected async void HandleDelete()
        {
            string endpoint = $"{baseUrl}api/Speakers/{speakerId}";
            await httpClient.DeleteAsync(endpoint);
            StateHasChanged();
            GoBack();
        }
    }
</EditForm>
}

@code {
    [Parameter]
    public string speakerId { get; set; }

    Speaker currentSpeaker;
    string baseUrl = "http://localhost:3000/";

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        currentSpeaker = await httpClient.GetFromJsonAsync<Speaker>($"{baseUrl}api/Speakers/{speakerId}");
    }

    protected void GoBack()
    {
        NavManager.NavigateTo("/speakers");
    }
}