@page "/"
@using SpeakersApi.Models
@inject HttpClient httpClient
@inject NavigationManager NavManager

<h1>List of Speakers</h1>
<hr />

<p>You are currently viewing a list of the existing speakers.</p>

@if (speakers == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <button @onclick="@Add" class="btn btn-primary addBtn">Add Speaker</button>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th class="btnCol"></th>
        <th class="btnCol"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in speakers)
      {
        <tr>
          <td>@item.FirstName @item.LastName</td>
          <td class="btnCol"><button class="btn btn-primary" @onclick="@(() => Edit(item.ID))">Edit</button></td>
          <td class="btnCol"><button class="btn btn-danger" @onclick="@(() => Delete(item.ID))">Delete</button></td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  Speaker[] speakers;
  string baseUrl = "http://localhost:3000/";

  protected override async Task OnInitializedAsync()
  {
    await load();
  }

  protected async Task load()
  {
    speakers = await httpClient.GetFromJsonAsync<Speaker[]>($"{baseUrl}api/Speakers");
  }

  protected void Add()
    {
        NavManager.NavigateTo("/add");
    }

    protected void Edit(string id)
    {
        NavManager.NavigateTo($"/edit/{id}");
    }

    protected void Delete(string id)
    {
        NavManager.NavigateTo($"/delete/{id}");
    }
}
