@page "/speakers"
@using SpeakersApi.Models
@inject HttpClient httpClient

<h1>Speakers</h1>

@if (speakers == null) {
<p><em>Loading...</em></p>
} else {
<table class='table table-hover'>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Area of Specialization</th>
      <th>City</th>
      <th>Employer</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in speakers) {
    <tr>
      <td>@item.ID</td>
      <td>@item.FirstName</td>
      <td>@item.LastName</td>
      <td>@item.Email</td>
      <td>@item.MobileNumber</td>
      <td>@item.Specialization</td>
      <td>@item.City</td>
      <td>@item.Employer</td>
    </tr>
    }
  </tbody>
</table>
}

@code {
  Speaker[] speakers;
  string baseUrl = "https://localhost:3000/";

  protected override async Task OnInitializedAsync() {
    await load();
  }

  protected async Task load() {
    speakers = await httpClient.GetFromJsonAsync<Speaker[]>($"{baseUrl}api/Speakers");
  }
}
